body{
    /* min-height: 100vh; */
    /* max-width: 500px; */
    /* max-width: 100.5%; */
    background-color: papayawhip !important; 
   


   
}

h1{
    color: black;
    text-align: center;
}

.container{
    margin-top: 70px;
}

.card{
    margin-top: 10px;
    
}

.card-img-top{
    height: 200px;
}

