{% load bootstrap5 %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'images/worldnews.jpg' %}">
    <title>

        {% block title %}
            The World News
        {% endblock %}

    </title>
</head>
<body>

    {% comment %}
    {% include 'navbar.html' %}
    {% endcomment %}
    
    {% block content %} {% endblock %}

    <!-- SCRIPTS -->
    {% block scripts %}
        {% bootstrap_javascript %}
    {% endblock %}

</body>
<hr>
<footer>
    <div class="row">
        <div class="col-md-6">
            <p>Copyright &copy; The Worlds News</p>
        </div>
        <div class="col-md-6 text-md-end">
            <a href="#" class="text-dark">Terms of Use</a>
            <span class="text-muted mx-2">|</span>
            <a href="#" class="text-dark">Privacy Policy</a>
        </div>
    </div>
</footer>
</html>