{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
The World News
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">The Worlds News</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>

                <div class="nav-item dropdown">
                    <div class="messages">
    
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Countries</a>
    
                        <div class="dropdown-menu">
                            <a href="{% url 'argentina' %}" class="dropdown-item">Argentina 🇦🇷</a>
                            <a href="{% url 'australia' %}" class="dropdown-item">Australia 🇦🇺</a>
                            <a href="{% url 'austria' %}" class="dropdown-item">Austria 🇦🇹</a>
                            <a href="{% url 'belgium' %}" class="dropdown-item">Belgium 🇧🇪 </a> 
                            <a href="{% url 'brazil' %}"class="dropdown-item">Brazil 🇧🇷</a>
                            <a href="{% url 'bulgaria' %}" class="dropdown-item">Bulgaria 🇧🇬</a> 
                            <a href="{% url 'canada' %}" class="dropdown-item">Canada 🇨🇦</a> 
                            <a href="{% url 'china' %}" class="dropdown-item">China 🇨🇳</a>
                            <a href="{% url 'egypt' %}" class="dropdown-item">Egypt 🇪🇬</a> 
                            <a href="{% url 'france' %}" class="dropdown-item">France 🇫🇷</a>
                            <a href="{% url 'germany' %}" class="dropdown-item">Germany 🇩🇪</a>
                            <a href="{% url 'israel' %}" class="dropdown-item">Israel 🇮🇱</a>
                            <a href="{% url 'italy' %}" class="dropdown-item">Italy 🇮🇹</a>
                            <a href="{% url 'japan' %}" class="dropdown-item">Japan 🇯🇵</a>
                            <a href="{% url 'morocco' %}" class="dropdown-item">Morocco 🇲🇦</a>
                            <a href="{% url 'netherlands' %}" class="dropdown-item">Netherlands 🇳🇱</a>
                            <a href="{% url 'nigeria' %}" class="dropdown-item">Nigeria 🇳🇬</a>
                            <a href="{% url 'portugal' %}" class="dropdown-item">Portugal 🇵🇹</a>
                            <a href="{% url 'southafrica' %}" class="dropdown-item">South Africa 🇿🇦</a>
                            <a href="{% url 'uae' %}" class="dropdown-item">United Arab Emirates 🇦🇪</a>
                            <a href="{% url 'uk' %}" class="dropdown-item">United Kingdom 🇬🇧</a>
                            <a href="{% url 'index' %}" class="dropdown-item">USA 🇺🇸</a> 
                            <a href="{% url 'ukraine' %}" class="dropdown-item">Ukraine 🇺🇦</a>
                        </div>
                    </div>
                </div>




                <a href="#" class="nav-item nav-link">Services</a>
                <a href="#" class="nav-item nav-link">About</a>
                <a href="#" class="nav-item nav-link">Contact</a>
            </div>
            <div class="nav-item dropdown">
                <div class="messages">

                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Categories</a>

                    <div class="dropdown-menu">
                        <a href="{% url 'southkorea' %}?category=business" class="dropdown-item">Business</a>
                        <a href="{% url 'southkorea' %}?category=entertainment" class="dropdown-item">Entertainment</a>
                        <a href="{% url 'southkorea' %}?category=general" class="dropdown-item">General</a>
                        <a href="{% url 'southkorea' %}?category=health" class="dropdown-item">Health</a>
                        <a href="{% url 'southkorea' %}?category=science" class="dropdown-item">Science</a>
                        <a href="{% url 'southkorea' %}?category=sports" class="dropdown-item">Sports</a>
                        <a href="{% url 'southkorea' %}?category=technology" class="dropdown-item">Technology</a>
                    </div>
                </div>
            </div>
            <div class="nav-nab">
                <form class="d-flex" method="get">
                    <input class="form-control me-2" type="text" placeholder="Search countries" name="country" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link">Subscribe</a>
                <a href="#" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h1>South Korea 🇰🇷</h1>
    
    <div class="row">
        {% for i in articles %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{ i.author }}</p>
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-title">{{ i.source.name }}</p>
                    <p class="card-text">{{ i.description }}</p>
                    <hr>
                    <small>Published At: {{ i.publishedAt }}</small>
                    <p><a href="{{ i.url }}" target="_blank" class="btn btn-success btn-lg">See News</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
{% bootstrap_javascript %}
{% endblock %}
